<form (ngSubmit)="onSubmit()" class="flex flex-col gap-4 items-center">
  <p-selectbutton [options]="transportTypes" [ngModel]="selectedTransport()"
    (ngModelChange)="onTransportChange($event)" optionLabel="label" optionValue="value" [ngModelOptions]="{standalone: true}" />

  <div class="w-full flex flex-col gap-1">
    <p-autocomplete
      [ngModel]="selectedFrom()"
      (ngModelChange)="selectedFrom.set($event)"
      [ngModelOptions]="{standalone: true}"
      [suggestions]="fromSuggestions()"
      (completeMethod)="searchFrom($event)"
      optionLabel="label"
      [delay]="500"
      [forceSelection]="true"
      [fluid]="true"
      placeholder="From"
      class="w-full" />
    @if (errors()['from']) {
      <small class="text-red-500 text-sm">{{ errors()['from'] }}</small>
    }
  </div>
  <div class="w-full flex flex-col gap-1">
    <p-autocomplete
      [ngModel]="selectedTo()"
      (ngModelChange)="selectedTo.set($event)"
      [ngModelOptions]="{standalone: true}"
      [suggestions]="toSuggestions()"
      (completeMethod)="searchTo($event)"
      optionLabel="label"
      [delay]="500"
      [forceSelection]="true"
      [fluid]="true"
      placeholder="To"
      class="w-full" />
    @if (errors()['to']) {
      <small class="text-red-500 text-sm">{{ errors()['to'] }}</small>
    }
  </div>

  <div class="w-full py-2">
    <h3 class="text-center font-semibold mb-2 text-xl pb-5">Route Details</h3>
    <div class="flex justify-around">
      <div class="flex flex-col items-center gap-2">
        <span class="font-bold text-lg">Distance:</span>
        <span> {{ distance() | number: '1.0-1' }} km</span>
      </div>
      <div class="flex flex-col items-center gap-2">
        <span class="font-bold text-lg">Duration:</span>
        <span> {{ duration() | number: '1.0-1' }} min</span>
      </div>
    </div>
  </div>

  <div class="w-full flex flex-col gap-1">
    <input pInputText [value]="tourName()" (input)="tourName.set($event.target.value)" placeholder="Tour Name" class="w-full" />
    @if (errors()['tourName']) {
      <small class="text-red-500 text-sm">{{ errors()['tourName'] }}</small>
    }
  </div>
  <textarea pTextarea [value]="description()" (input)="description.set($any($event.target).value)" placeholder="Description" rows="5"
    class="w-full"></textarea>

  <button pButton [label]="mode() + ' Tour'" class="w-full" type="submit"></button>
</form>
